body {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

header, footer {
    width: 100%;
    text-align: center;
}

footer {
    margin-top: 80%;
}

ul {
    list-style: none;
    display: inline-flex;
    
}

li {
    padding: 5px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

li:hover {
    font-size: 22px;
    cursor: pointer;
}

h1 {
   font-size: 50px;
}
